.sub-right {
  color: white;
  background-color: #000000;
  border-radius: 10px;
}

.img-d {
  border: 1px solid var(--color-primary-variant);
  background-color: #000000;
  border-radius: 30px;
  padding: 10px;
}

.about__mes {
  text-align: justify;
  font-size: 0.88rem;
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

.sub-right img {
  border: 1px solid var(--color-primary-variant);
  border-radius: 20px;
}

.sub-righ img {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

/* ================= MUM S) ================= */

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg,
      transparent,
      var(--color-primary),
      transparent);
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: rgba(33, 32, 30, 0.6);
  /* Dark glass */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.about__card:hover {
  background: rgba(33, 32, 30, 0.8);
  border-color: var(--color-primary);
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  text-align: justify;
  font-size: 0.88rem;
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}