.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container>div {
  background: rgba(33, 32, 30, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: var(--transition);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.experience__container>div:hover {
  background: rgba(33, 32, 30, 0.8);
  border-color: var(--color-primary);
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.experience__container>div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container>div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container>div {
    width: 100%;
    padding: 2rem;
  }
}