.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: var(--color-bg);
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.3;
  animation: float 20s infinite alternate;
}

.blob-1 {
  top: -10%;
  left: -10%;
  width: 50vw;
  height: 50vw;
  background: var(--color-primary);
  animation-delay: 0s;
}

.blob-2 {
  bottom: -10%;
  right: -10%;
  width: 40vw;
  height: 40vw;
  background: var(--color-primary-variant);
  animation-delay: -5s;
  animation-duration: 25s;
}

.blob-3 {
  top: 30%;
  left: 20%;
  width: 35vw;
  height: 35vw;
  background: #4db5ff; /* Blue accent */
  opacity: 0.15;
  animation-delay: -10s;
  animation-duration: 22s;
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(50px, 50px) rotate(180deg);
  }
  100% {
    transform: translate(-50px, -50px) rotate(360deg);
  }
}
